::-webkit-scrollbar-thumb {
  width: 1em;
  background-color: #ddd;
  outline: 1px solid slategrey;
  border-radius: 1rem;

}

body {
  overflow-y: hidden;
  margin: 0;
  padding: 0;
}

.text-small {
  font-size: 0.9rem;
}

.messages-box,
.chat-box {
  height: 100vh;
  overflow-y: scroll;
  padding-top: 60px;
  padding-bottom: 100px;
}

.rounded-lg {
  border-radius: 0.5rem;
}

input::placeholder {
  font-size: 0.9rem;
  color: #999;
}